# fly.toml app configuration file generated for psi-backend on 2025-12-06T11:47:37+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'psi-backend'
primary_region = 'iad'

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = '8000'

[[mounts]]
  source = 'psi_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']



[[vm]]
  size = 'shared-cpu-1x'
