# fly.toml app configuration file generated for psi-backend on 2025-12-06T11:47:37+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'psi-backend'
primary_region = 'iad'

[build]

[env]
  PORT = '8000'

[processes]
  app = "uvicorn main:app --host 0.0.0.0 --port 8000"

[[mounts]]
  source = 'psi_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 8000

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [services.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  size = 'shared-cpu-1x'
